alu-lib==1.0.0
appdirs==1.4.4
bcrypt==3.2.0
blinker==1.4
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cheroot==8.5.2
CherryPy==18.6.0
click==7.1.2
cluster-lib==1.0.0
configobj==5.0.6
ctypes-bitfield==0.3.3
ctypes-callable==1.0.2
ctypes-ejdb==0.4.7
ctypes-ftdi1==0.0.4
ctypestruct==1.0.1
decorator==4.4.2
distlib==0.3.1
dn-tools==0.0.1
dnspython==2.1.0
email-validator==1.1.2
ems-lib==1.0.0
enet-bands==1.0.0
enet-clients-common==1.0.5
enet-clients-public==2.0.3
enet-cm-lib==1.0.0
enet-common==1.1.1
enet-log==0.0.2
enet-module-events==1.0.0
enet-performance-log==0.0.1
enetsdk==17.1.0
enetsdk-config==1.0.1
enetsdk-lib==1.4.2
ericsson-lib==1.0.0
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-MySQL==1.5.2
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.18.2
huawei-lib==1.0.0
idna==3.1
importlib-metadata==3.4.0
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.1.0
jaraco.functools==3.1.0
jaraco.text==3.4.0
jdcal==1.4.1
Jinja2==2.11.2
lib3gpp==1.0.0
lxml==4.6.2
MarkupSafe==1.1.1
more-itertools==8.6.0
mysql==0.0.2
mysql-connector-python==8.0.22
mysqlclient==2.0.3
nadc-lib==1.0.0
nokia-lib==1.0.0
nr-util==1.0.0
numpy==1.19.5
openpyxl==3.0.6
perf-lib==1.0.1
Pillow==8.1.0
portend==2.7.0
psutil==5.8.0
py2compatibility==0.99.4
py4j==0.10.9.1
pycparser==2.20
PyExcelerate==0.10.0
PyGUIBox==0.3
PyMySQL==1.0.2
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
PyOpenGL-Demo==3.0.0
PyQt6==6.0.0
PyQt6-sip==13.0.0
pyspark==3.0.1
python-dateutil==2.8.1
pytz==2020.5
pywin32==300
pywin32-ctypes==0.2.0
requests==2.25.1
retrying==1.3.3
service-discovery-public==1.0.1
six==1.15.0
son-reporting-client==1.0.0
son-reporting-lib==1.0.1
SQLAlchemy==1.3.22
Tcl==0.2
tempora==4.0.1
tk==0.1.0
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3==1.26.2
virtualenv==20.4.0
webcolors==1.11.1
Werkzeug==1.0.1
WTForms==2.3.3
XlsxWriter==1.3.7
zc.lockfile==2.0
zipp==3.4.0
zte-lib==1.0.0
